.bg-darker {
  background-color: #3d3b30;
}
.navbar-nav {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.navbar .navbar-nav .nav-link {
  padding-left: 4vw;
  padding-left: 4vw;
  color: #e9edde;
}

.navbar {
  padding-left: 3vw;
  padding-right: 3vw;
}

.home {
  font-family: 'Poppins', sans-serif;
  color: #e9edde;
}

.home h4 {
  padding-top: 1.5vw;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home .row {
  padding-left: 0;
}

.lead {
  font-size: 1.15em;
  text-align: justify;
}

.mini-contact {
  color: #e9edde;
}

.cv-link {
  font-size: 1.15em;
  color: #e9edde;
}

.services {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.services h5 {
  font-weight: bold;
  color: #e9edde;
  margin-top: 10px;
  margin-bottom: 20px;
}

.services-icon {
  background: #e7e247;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.services-icon span p {
  display: inline;
  position: relative;
  top: -22.5px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio {
  font-family: 'Poppins', sans-serif;
  color: #e9edde;
  margin-top: 20px;
}

.portfolio h5 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio .card {
  border-radius: 25px;
  color: #3d3b30;
  font-family: 'Poppins', sans-serif;
  margin-right: 40px;
  margin-bottom: 20px;
}

.portfolio .card img {
  object-fit: cover;
}

#contact {
  background-color: #5c80bc;
  border-radius: 25px;
  margin-top: 20px;
  padding: 25px;
  color: #e9edde;
}

#contact h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

#contact p {
  font-weight: bold;
  font-size: 18px;
}

.message-form {
  background-color: #e9edde;
  height: 150px;
  border-radius: 25px;
}

.footer {
  margin: 25px;
  color: #e9edde;
  font-family: 'Poppins', sans-serif;
}
